<div class="container">
    <div class="row centered mt mb">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>My Tweets</h1>
            <%= @tweets %>
        </div>
	</div><! --/row -->
</div><! --/container -->